playwright #→ Biblioteca de automação de navegador.
pytest #→ Framework para execução de testes.
pytest-playwright #→ Integração do Playwright com o Pytest.
allure-pytest #→ Integração do Allure para geração de relatórios.
pytest-bdd #→ Adiciona suporte à linguagem BDD ao teste
pytest-rerunfailures #→ Permite reexecutar testes que falharam.]
pytest-xdist #→ Permite a execução de testes em paralelo.