playwright #→ Biblioteca de automação de navegador.
pytest #→ Framework para execução de testes.
pytest-playwright #→ Integração do Playwright com o Pytest.
allure-pytest #→ Integração do Allure para geração de relatórios.
pytest-bdd #→ Adiciona suporte à linguagem BDD ao teste
pytest-rerunfailures #→ Permite reexecutar testes que falharam.]
pytest-xdist #→ Permite a execução de testes em paralelo.
faker #→ Biblioteca para geração de dados falsos, útil para testes.

"""
requirements.txt:
-Lista todas as dependências do projeto Python para que o ambiente de testes
possa ser configurado facilmente.

"""